{% extends '/layouts/base.html.twig' %}

{% block title %}Trouver les meilleures épingle du Web !!!{% endblock %}

{% block body %}
<h1>{{ pluralize( pins|length ,'Epinge') }}</h1>
    {% for pin in pins %}
        <article>
            <a href="{{path('app_pins_show',  {'id': pin.id})}}">
                <h2>{{ pin.title }}</h2>
            </a>
            <p> {{ pin.description|u.truncate(10, ' ...', false) }} </p>
            <p>Ajouté {{ pin.createdAt|ago(locale='fr') }} </p>
        </article>
    {% endfor %}
{% endblock %}
