{% extends '/layouts/base.html.twig' %}

{% block title %}{{pin.title}}{% endblock %}

{% block body %}
  <article>
    <h1>
      {{pin.title}}
    </h1>
    <p>
      {{pin.description}}
    </p>
    <a href="{{ path('app_pins_edit', {'id':pin.id}) }}">Edition</a> | 
    <a href="#" onclick="event.preventDefault(); confirm('Etes vous sure ?') && document.getElementById('js-pin-delete-form').submit();">Supression</a> | 
    <form id="js-pin-delete-form" action="{{ path('app_pins_delete', {'id':pin.id}) }}" method="POST" style="display: none;">
      <input type="hidden" name="token" value="{{ csrf_token('delete-pin') }}"/>
      <input type="hidden" name="_method" value="DELETE">
    </form>
    <a href="{{ path('app_home') }}">Retour a l'acceuil</a>
  </article>
{% endblock %}
