{% extends 'base.html.twig' %}

{% block title %}{{pin.title}}{% endblock %}

{% block body %}
  <article>
    <h1>
      {{pin.title}}
    </h1>
    <p>
      {{pin.description}}
    </p>
    <a href="{{ path('app_pins_edit', {'id':pin.id}) }}">Edition</a> | 
    <a href="{{ path('app_home') }}">Retour a l'acceuil</a>
  </article>
{% endblock %}
