{% extends '/layouts/base.html.twig' %}

{% block title %}{{pin.title}}{% endblock %}

{% block body %}
<div class="row">
  <div class="col-md-6 mx-auto">
    <article class="pin bg-white rounded shadow">
      <div class="mw-100 overflow-hidden mx-auto rounded-top">
        {# Genere l'image enfonction de la BDD sinon cela prend l'image de base 'placeholder.jpeg' #}
        <img class="img-show d-block mx-auto" src="{{ pin.imageName ? vich_uploader_asset(pin) : asset('build/images/placeholder.jpeg') }}"
          alt="{{ pin.title }}" />
      </div>
      <div class="p-3">
        <h1 class="h5 text-muted">
          {{ pin.title }}
        </h1>
        <p>
          <small class="text-muted">
            Ajouté 
            <time datetime="{{ pin.createdAt | date('Y-m-d H:i:s') }}" >{{ pin.createdAt | ago }}</time> par {{ pin.user.fullName }}
          </small>
        </p>

        <p class="text-break">
          {{pin.description}}
        </p>
        {% if app.user %}
          {% if app.user.email == pin.user.email %}
            <div class="pt-3">
              <a class="btn btn-light" href="{{ path('app_pins_edit', {'id':pin.id}) }}">Edition</a>
              <a class="btn btn-light" href="#"
                onclick="event.preventDefault(); confirm('Etes vous sure ?') && document.getElementById('js-pin-delete-form').submit();">Supression</a>
              <form id="js-pin-delete-form" action="{{ path('app_pins_delete', {'id':pin.id}) }}" method="POST"
                style="display: none;">
                <input type="hidden" name="token" value="{{ csrf_token('delete-pin') }}" />
                <input type="hidden" name="_method" value="DELETE">
              </form>
            </div>
          {% endif %}
        {% endif %}
      </div>      
    </article>
  </div>
</div>

{% endblock %}